@model IEnumerable<ErikasApi.Models.VQuinceanos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigoQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ajuste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigoQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ajuste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.talla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idQuinceanos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idQuinceanos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idQuinceanos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
